django-jeremiahchukwuscrumy.zip
django-jeremiahchukwuscrumy/LICENSE.txt
django-jeremiahchukwuscrumy/MANIFEST.in
django-jeremiahchukwuscrumy/README.rst
django-jeremiahchukwuscrumy/setup.py
django-jeremiahchukwuscrumy/dist/jeremiahchukwuscrumy-0.1.zip
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/__init__.py
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/admin.py
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/apps.py
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/models.py
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/tests.py
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/urls.py
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/views.py
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/views.py.save
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/__pycache__/__init__.cpython-37.pyc
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/__pycache__/admin.cpython-37.pyc
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/__pycache__/models.cpython-37.pyc
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/__pycache__/urls.cpython-37.pyc
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/__pycache__/views.cpython-37.pyc
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/migrations/__init__.py
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/migrations/0001_initial.py
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/migrations/0002_auto_20200206_0626.py
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/migrations/__pycache__/__init__.cpython-37.pyc
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/migrations/__pycache__/0001_initial.cpython-37.pyc
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/migrations/__pycache__/0002_auto_20200206_0626.cpython-37.pyc
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/templates/jeremiahchukwuscrumy/addgoal.html
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/templates/jeremiahchukwuscrumy/exception.html
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/templates/jeremiahchukwuscrumy/home.html
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/templates/jeremiahchukwuscrumy/movegoal.html
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/templates/jeremiahchukwuscrumy/success.html
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/templates/registration/index.html
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy/templates/registration/login.html
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy.egg-info/dependency_links.txt
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy.egg-info/PKG-INFO
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy.egg-info/SOURCES.txt
django-jeremiahchukwuscrumy/jeremiahchukwuscrumy.egg-info/top_level.txt
