<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Goal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <h3 class="mt-4 pt-4">
            + Add Goal
        </h3>
        <form action='' method='POST' class="mt-4">
            {% csrf_token %}
            <h6 class="text-danger p-3">{{ message }}</h6>
            <div class="form_group">
                <label>
                    Goal Name
                </label>
                <input type="text" name="goal_name" class="form-control">
            </div>
            <div class="form_group">
                <label>
                    Select User
                </label>
                <select class="custom-select" name="user">
                    
                    {%if group == 'Developer' %}
                        <option value="{{ currentuser }}">{{ currentuser }}</option>
                    {%endif%}
                    {%if group == 'Admin' %}
                        {% for user in users %}
                        <option value="{{ user }}">{{ user }}</option>
                        {% endfor %}
                    {%endif%}
                    {%if group == 'Owner' %}
                        {% for user in users %}
                        <option value="{{ user }}">{{ user }}</option>
                        {% endfor %}
                    {%endif%}
                    {%if group == 'Quality Assurance' %}
                        <option value="{{ currentuser }}">{{ currentuser }}</option>
                    {%endif%}
                </select>
            </div>
            <div class="form_group">
                <label>
                    Select Goal Status
                </label>
                <select class="custom-select" name="goal_status">
                    {% for statuss in goalstatus %}
                    <option value="{{ statuss }}">{{ statuss }}</option>
                    {% endfor %}
                </select>
            </div>
            <input class="btn mt-4 bg-warning" type="submit">
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

</body>

</html>