<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    <style>
        .table-container {
            margin-top: 50px;
        }
    </style>
    <div class="container">
        <div class="table-container">
            <a class="btn bg-success text-white" href={% url 'jeremiahchukwuscrumy:add' %}>ADD A GOAL</<a>

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Weekly Goals</th>
                        <th scope="col">Daily Goals</th>
                        <th scope="col">Verify Goals</th>
                        <th scope="col">Done Goals</th>
                    </tr>
                </thead>
                {% for user in users %}
                <tr>
                    <th scope="row">{{user}}</th>
                    <td>{% for goal in weekly_goals%} {%if goal.user.username == user.username%} {{goal}} {%endif%} {%endfor%}
                    </td>
                    <td>{% for goal in daily_goals%} {%if goal.user.username == user.username%} {{goal}} {%endif%} {%endfor%}
                    </td>

                    {% endfor %}
                </tr>

            </table>
        </div>
    </div>

</body>

</html>