<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>
    <style>
        .button {
            background-color: red;
            color: black;
            font-size: 14px;
            padding: 10px 30px;
        }
        
        .usertext {
            font-size: 14px;
            margin-right: 20px;
        }
        
        .bts {
            font-size: 10px;
            margin-top: 20px;
            color: blue;
            text-transform: capitalize;
        }
        
        .bts:hover {
            color: rgb(4, 4, 82);
            text-decoration: none;
        }
    </style>
    <div class="d-flex justify-content-between bg-success p-0">
        <h5 class="p-3">
            Dashboard
        </h5>
        <p class="p-3 usertext text-white">Welcome, {{ user.username }} </p>
    </div>
    <div class="d-flex flex-row justify-content-between p-4">
        <a href={% url 'jeremiahchukwuscrumy:add' %} class="button bg-warning mt-4"> + ADD GOAL</a>
        <a href={% url 'jeremiahchukwuscrumy:logout' %} class="btn bg-secondary mt-4 text-white"> + LOGOUT</a>

    </div>
    <div class="container">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Weekly Goals</th>
                    <th scope="col">Daily Goals</th>
                    <th scope="col">Verify Goals</th>
                    <th scope="col">Done Goals</th>
                </tr>
            </thead>
             {%if group == 'Admin' %}
            {% for eachuser in users %}
            <tr> 
                <th scope="row">{{ eachuser }}
                </th>
                <td>{% for goal in weekly_goals%}{%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}} <br><a href={% url 'jeremiahchukwuscrumy:movegoal' goal_id=goal.goal_id %} class="bts">movegoal</a><br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in daily_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><a href={% url 'jeremiahchukwuscrumy:movegoal' goal_id=goal.goal_id %} class="bts">movegoal</a><br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in verify_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><a href={% url 'jeremiahchukwuscrumy:movegoal' goal_id=goal.goal_id %} class="bts">movegoal</a><br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in done_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><a href={% url 'jeremiahchukwuscrumy:movegoal' goal_id=goal.goal_id %} class="bts">movegoal</a><br><br> {%endif%} {%endfor%}
                </td>
            </tr>
            {% endfor %}
            {%endif%}

            {%if group == 'Developer' %}
            {% for eachuser in users %}
            {%if user == eachuser %}
            <tr> 
                <th scope="row">{{ eachuser }}
                </th>
                <td>{% for goal in weekly_goals%}{%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}} <br><a href={% url 'jeremiahchukwuscrumy:movegoal' goal_id=goal.goal_id %} class="bts">movegoal</a><br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in daily_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><a href={% url 'jeremiahchukwuscrumy:movegoal' goal_id=goal.goal_id %} class="bts">movegoal</a><br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in verify_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><a href={% url 'jeremiahchukwuscrumy:movegoal' goal_id=goal.goal_id %} class="bts">movegoal</a><br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in done_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><br> {%endif%} {%endfor%}
                </td>
            </tr>
            {%endif%}
            <tr> 
                <th scope="row">{{ eachuser }}
                </th>
                <td>{% for goal in weekly_goals%}{%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}} <br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in daily_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in verify_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in done_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><br> {%endif%} {%endfor%}
                </td>
            </tr>
            {% endfor %}
            {%endif%}

            {%if group == 'Owner' %}
            {% for eachuser in users %}
            {%if user == eachuser %}
            <tr> 
                <th scope="row">{{ eachuser }}
                </th>
                <td>{% for goal in weekly_goals%}{%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}} <br><a href={% url 'jeremiahchukwuscrumy:movegoal' goal_id=goal.goal_id %} class="bts">movegoal</a><br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in daily_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><a href={% url 'jeremiahchukwuscrumy:movegoal' goal_id=goal.goal_id %} class="bts">movegoal</a><br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in verify_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><a href={% url 'jeremiahchukwuscrumy:movegoal' goal_id=goal.goal_id %} class="bts">movegoal</a><br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in done_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><a href={% url 'jeremiahchukwuscrumy:movegoal' goal_id=goal.goal_id %} class="bts">movegoal</a><br><br> {%endif%} {%endfor%}
                </td>
            </tr>
            {%endif%}
            <tr> 
                <th scope="row">{{ eachuser }}
                </th>
                <td>{% for goal in weekly_goals%}{%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}} <br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in daily_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in verify_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in done_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><br> {%endif%} {%endfor%}
                </td>
            </tr>
            {% endfor %}
            {%endif%}

            {%if group == 'Quality Assurance' %}
            {% for eachuser in users %}
            {%if user == eachuser %}
            <tr> 
                <th scope="row">{{ eachuser }}
                </th>
                <td>{% for goal in weekly_goals%}{%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in daily_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><a href={% url 'jeremiahchukwuscrumy:movegoal' goal_id=goal.goal_id %} class="bts">movegoal</a><br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in verify_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><a href={% url 'jeremiahchukwuscrumy:movegoal' goal_id=goal.goal_id %} class="bts">movegoal</a><br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in done_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><a href={% url 'jeremiahchukwuscrumy:movegoal' goal_id=goal.goal_id %} class="bts">movegoal</a><br><br> {%endif%} {%endfor%}
                </td>
            </tr>
            {%elif user != eachuser %}
            <tr> 
                <th scope="row">{{ eachuser }}
                </th>
                <td>{% for goal in weekly_goals%}{%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}} <br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in daily_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in verify_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><a href={% url 'jeremiahchukwuscrumy:movegoal' goal_id=goal.goal_id %} class="bts">movegoal</a><br><br>{%endif%} {%endfor%}
                </td>
                <td>{% for goal in done_goals%} {%if goal.user.username == eachuser.username%} {{goal}}
                    <br>{{goal.goal_id}}<br><a href={% url 'jeremiahchukwuscrumy:movegoal' goal_id=goal.goal_id %} class="bts">movegoal</a><br><br> {%endif%} {%endfor%}
                </td>
            </tr>
            {%endif%}
            {% endfor %}
            {%endif%}

        </table>
    </div>

</body>

</html>